/*
Error: Invalid CSS after "...oll="false"] &{": expected "}", was "{grid-template-..."
        on line 410 of ./css/allgrid.scss

405:   }
406:   & .section-list {
407:     grid-area: sectionList;
408:     display: grid;
409:     gap: var(--_slideshow-gap);
410:     [screen-scroll="false"] &{{grid-template-columns: repeat(var(--col-count), 1fr);}
411:   }
412: }
413: .alphabet-nav{
414:   [screen-scroll="false"] &{
415:     position: sticky;

Backtrace:
./css/allgrid.scss:410
C:/Users/matt/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1308:in `expected'
C:/Users/matt/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1238:in `expected'
C:/Users/matt/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1233:in `tok!'
C:/Users/matt/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:690:in `block'
C:/Users/matt/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:758:in `declaration_or_ruleset'
C:/Users/matt/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:708:in `block_child'
C:/Users/matt/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:700:in `block_contents'
C:/Users/matt/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:689:in `block'
C:/Users/matt/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:758:in `declaration_or_ruleset'
C:/Users/matt/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:708:in `block_child'
C:/Users/matt/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:700:in `block_contents'
C:/Users/matt/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:689:in `block'
C:/Users/matt/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:681:in `ruleset'
C:/Users/matt/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:707:in `block_child'
C:/Users/matt/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:700:in `block_contents'
C:/Users/matt/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:137:in `stylesheet'
C:/Users/matt/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:41:in `parse'
C:/Users/matt/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/engine.rb:414:in `_to_tree'
C:/Users/matt/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
C:/Users/matt/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
C:/Users/matt/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
C:/Users/matt/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Users/matt/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `each'
C:/Users/matt/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Users/matt/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:294:in `watch'
C:/Users/matt/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/plugin.rb:109:in `method_missing'
C:/Users/matt/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:358:in `watch_or_update'
C:/Users/matt/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:51:in `process_result'
C:/Users/matt/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
C:/Users/matt/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
C:/Users/matt/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
C:/Users/matt/AppData/Local/Microsoft/WindowsApps/sass:25:in `load'
C:/Users/matt/AppData/Local/Microsoft/WindowsApps/sass:25:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...oll=\"false\"] &{\": expected \"}\", was \"{grid-template-...\"\A         on line 410 of ./css/allgrid.scss\A \A 405:   }\A 406:   & .section-list {\A 407:     grid-area: sectionList;\A 408:     display: grid;\A 409:     gap: var(--_slideshow-gap);\A 410:     [screen-scroll=\"false\"] &{{grid-template-columns: repeat(var(--col-count), 1fr);}\A 411:   }\A 412: }\A 413: .alphabet-nav{\A 414:   [screen-scroll=\"false\"] &{\A 415:     position: sticky;"; }
