/* Error: Expected "n".
 *     ,
 * 313 | .slideshow-grid:not(:has(:nth-child(var(--col-count)))) {
 *     |                                     ^
 *     '
 *   css/allgrid.scss 313:37  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Expected "n".\a     \2577 \a 313 \2502  .slideshow-grid:not(:has(:nth-child(var(--col-count)))) {\a     \2502                                      ^\a     \2575 \a   css/allgrid.scss 313:37  root stylesheet';
}
