<div class="grid-area_breadcrumbArea bg_white-2 p-l_5:xxl p-l_4:lg p-l_3 p-y_3 font_1 br-b_1 br_solid br_black-3 flex_row flex gap-x_4 justify_start items_center shadow_emboss-light c_primary-n2">
	<button class="btn btn-primary shadow_overlap-light br_solid br_black-3 br_1">
		<i class="fa-arrow-left fas font-size_down-1"></i>
		<span class="inline-block:md display_none">back</span>
	</button>
	<ul class="flex_inline flex flex_row lh_0 ul_none text-shadow_white-1">
		<li class="flex flex_row nowrap relative">
			<div class="">
				<i class="c_black-9 fa-light fal m-l_1 fa-fw m-r_2 flex_none self_center fa-home"></i>
				<a class="font_regular flex_auto self_center h:underline c_inherit-all">Home</a>
			</div>
		</li>
		<li class="flex flex_row nowrap relative">
			<i class="fas fa-angle-right c_accent-n2 m-x_3 self_baseline font-size_down-1"></i>
			<div class="">
				<i class="c_black-9 fa-light fal m-l_1 fa-fw m-r_2 flex_none self_center fa-search"></i>
				<a class="font_regular flex_auto self_center h:underline c_inherit-all">search</a>
			</div>
		</li>

	</ul>
</div>