<style lang="">
	:root {
		--br_square: 0px;
		--br_radius: 8px;
		--br_round: 16px;
		--br_circle: 100%;
		/*
--rich-black-fogra-29: hsla(209, 51%, 8%, 1);
--bright-yellow-crayola: hsla(39, 96%, 53%, 1);
--honolulu-blue: hsla(201, 100%, 33%, 1);
--carmine: hsla(351, 96%, 30%, 1);
--cinnabar: hsla(8, 80%, 56%, 1);
		*/
		--brand-h: 209deg;
		--brand-s: 51%;
		--brand-l: 8%;
		--primary-h: 208deg;
		--primary-s: 90%;
		--primary-l: 32%;
		--secondary-h:351deg;
		--secondary-s:96%;
		--secondary-l:30%;



		--secondary-h: 208deg;
		--secondary-s: 90%;
		--secondary-l: 32%;
		--primary-h:351deg;
		--primary-s:96%;
		--primary-l:30%;


		--accent-h: 205;
		--accent-s: 73%;
		--accent-l: 78%;
		--highlight-h: 39deg;
		--highlight-s: 96%;
		--highlight-l: 53%;
		--black-h: 0deg;
		--black-s: 0%;
		--black-l: 6.2745098039%;
		--white-h: 0deg;
		--white-s: 0%;
		--white-l: 99.2156862745%;
		--link-color: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) + ((var(--primary-l)) * -0.37)));
		--link-hover-color: hsl(var(--secondary-h), var(--secondary-s), calc(var(--secondary-l) + ((var(--secondary-l)) * -0.50)));
		--accent-color:  hsl(var(--accent-h), var(--accent-s), var(--accent-l));
		--font_display:  Arial Black, Impact, sans-serif;
		--font_accent: Rockwell Extra Bold, Rockwell Bold, monospace;
		--font_copy: 'Montserrat', Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
		--font_mono: Lucida Console, Lucida Sans Typewriter, monaco, Bitstream Vera Sans Mono, monospace;
	}
</style>



