<div style="" class="display_none flex:md sticky t_3  grid-area_menuArea z_4">
	<nav style="" id="navigation" class="w_100 overflow-hidden absolute h_100vh shadow_emboss-light filter_blur overflow_hidden br_radius flex:md flex_column:md justify_between p-t_0 p-b_3 p-l_3 p-r_3 p-b_4:md p-t_4:md p-r_0:md font_4:lg font_3:md font_2 transition_3 font_display">
		<ul class="flex flex_column:md flex_row ul_none justify_around justify_start:md gap_3 w_100 w_auto:md">
			<li id="mainDesktopNavTouchToggle" class="display_none flex:touch flex_row justify_end p-x_3 m-l_n3">
				<span class="aspect_1x1 bg_accent br_round c_inherit-all c_white-8 grid h:c_white justify_center p_3 self_center text_center w_auto shadow_n3"><i class="block fa-chevron-circle-right fa-fw fas icon [rotate_180] self_center text-shadow_black-1 transition_2"></i></span>
			</li>
			<li class="nav-item flex_none br_radius p-t_3 m-t_n3 m-t_0:md p-t_0:md p-r_4:md m-r_n4:md c_white-8 h:bg_black-9 h:c_white a:c_white a:bg_primary h:shadow_overlap-light a:shadow_overlap-light {% if page.homeActive %}active{% endif %}">
				<a class="p_3 c_inherit-all h:undecorated undecorated flex flex_column flex_row:md" href="./home"><i class="icon fas fa-fw fa-home-heart p-x_2:md p-y_3 p-y_0:md self_center"></i><span class="label self_center p-l_3:md p-l_4:lg lowercase lh_0 {% if page.homeActive %}active{% endif %} font_n2 font_3:md font_4:lg">Home</span></a>
			</li>
			<li class="nav-item flex_none br_radius p-t_3 m-t_n3 m-t_0:md p-t_0:md p-r_4:md m-r_n4:md c_white-8 h:bg_black-9 h:c_white a:c_white a:bg_primary h:shadow_overlap-light a:shadow_overlap-light  {% if page.searchActive %}active{% endif %}">
				<a class="p_3 c_inherit-all h:undecorated undecorated flex flex_column flex_row:md " href="./search"><i class="icon fas fa-fw fa-search p-x_2:md p-y_3 p-y_0:md self_center"></i><span class="label self_center p-l_3:md p-l_4:lg lowercase lh_0 font_n2 font_3:md font_4:lg {% if page.searchActive %}active{% endif %}">Search</span></a>
			</li>
			<li class="nav-item flex_none br_radius p-t_3 m-t_n3 m-t_0:md p-t_0:md p-r_4:md m-r_n4:md c_white-8 h:bg_black-9 h:c_white a:c_white a:bg_primary h:shadow_overlap-light a:shadow_overlap-light  {% if page.savedActive %}active{% endif %}">
				<a class="p_3 c_inherit-all h:undecorated undecorated flex flex_column flex_row:md" href="./saved"><i class="icon fas fa-fw fa-heart p-x_2:md p-y_3 p-y_0:md self_center"></i><span class="label self_center p-l_3:md p-l_4:lg lowercase lh_0 font_n2 font_3:md font_4:lg {% if page.savedActive %}active{% endif %}">Saved</span></a>
			</li>
			<li class="nav-item flex_none br_radius p-t_3 m-t_n3 m-t_0:md p-t_0:md p-r_4:md m-r_n4:md c_white-8 h:bg_black-9 h:c_white a:c_white a:bg_primary h:shadow_overlap-light a:shadow_overlap-light  {% if page.creditActive %}active{% endif %}">
				<a class="p_3 c_inherit-all h:undecorated undecorated flex flex_column flex_row:md" href="./credits"><i class="icon fas fa-fw fa-award p-x_2:md p-y_3 p-y_0:md self_center"></i><span class="label self_center p-l_3:md p-l_4:lg lowercase lh_0 font_n2 font_3:md font_4:lg {% if page.creditActive %}active{% endif %}">Credits</span></a>
			</li>
			<li class="nav-item flex_none br_radius p-t_3 m-t_n3 m-t_0:md p-t_0:md p-r_4:md m-r_n4:md c_white-8 h:bg_black-9 h:c_white a:c_white a:bg_primary h:shadow_overlap-light a:shadow_overlap-light    {% if page.watchingActive == null %}cursor_not-allowed opacity_3 disabled{% endif %} {% if page.watchingActive %}active{% endif %}">
				<a class="p_3 c_inherit-all h:undecorated undecorated flex flex_column flex_row:md" href="./presentation"><i class="icon fas fa-fw fa-play p-x_2:md p-y_3 p-y_0:md self_center"></i><span class="label self_center p-l_3:md p-l_4:lg lowercase lh_0 font_n2 font_3:md font_4:lg {% if page.watchingActive %}active{% endif %}">Watching</span></a>
			</li>
		</ul>
		<ul class="flex_column:md flex_row ul_none justify_center gap_3 flex">
			<li class="nav-item flex_auto br_radius p-t_3 m-t_n3 m-t_0:md p-t_0:md p-r_4:md m-r_n4:md c_white-8 bg_acc-n1 h:bg_black-9 h:c_white a:c_white a:bg_primary h:shadow_overlap-light a:shadow_overlap-light">
				<a class="p_3 c_inherit-all h:undecorated undecorated flex flex_column flex_row:md" href="../"><i class="icon fas fa-fw fa-sign-out-alt p-x_2 p-y_3 p-y_0:md self_center"></i><span class="label self_center p-l_3:md p-l_4:lg lowercase lh_0 font_n2 font_3:md font_4:lg">Log Out</span></a>
			</li>
		</ul>
	</nav>
</div>