<nav id="navigation_mobile" class="block display_none:md shadow_emboss-light filter_blur br_radius br-bl_square br-br_square bg_black-6 p_2 t_3 z_4">
	<ul class="flex flex_row ul_none justify_between">
		<li class="nav-item flex_auto br_radius c_white-8 h:bg_black-9 h:c_white a:c_white a:bg_primary h:shadow_overlap-light a:shadow_overlap-light {% if page.homeActive %}active{% endif %}">
			<a class="c_inherit-all flex flex_column h:undecorated p_3" href="./home"><i class="icon fas fa-fw fa-home-heart p-y_2 self_center"></i><span class="label self_center  lowercase lh_0 active font_n2 h_1h">Home</span></a>
		</li>
		<li class="nav-item flex_auto br_radius c_white-8 h:bg_black-9 h:c_white a:c_white a:bg_primary h:shadow_overlap-light a:shadow_overlap-light {% if page.searchActive %}active{% endif %}">
			<a class="c_inherit-all flex flex_column h:undecorated p_3" href="./search"><i class="icon fas fa-fw fa-search p-y_2 self_center"></i><span class="label self_center  lowercase lh_0 font_n2 h_1h ">Search</span></a>
		</li>
		<li class="nav-item flex_auto br_radius c_white-8 h:bg_black-9 h:c_white a:c_white a:bg_primary h:shadow_overlap-light a:shadow_overlap-light {% if page.savedActive %}active{% endif %}">
			<a class="c_inherit-all flex flex_column h:undecorated p_3" href="./saved"><i class="icon fas fa-fw fa-star p-y_2 self_center"></i><span class="label self_center  lowercase lh_0 font_n2 h_1h nowrap ">Saved</span></a>
		</li>
		<li class="nav-item flex_auto br_radius c_white-8 h:bg_black-9 h:c_white a:c_white a:bg_primary h:shadow_overlap-light a:shadow_overlap-light {% if page.creditsActive %}active{% endif %}">
			<a class="c_inherit-all flex flex_column h:undecorated p_3" href="./credits"><i class="icon fas fa-fw fa-award p-y_2 self_center"></i><span class="label self_center  lowercase lh_0 font_n2 h_1h ">Credits</span></a>
		</li>
		<li class="nav-item flex_auto br_radius c_white-8 h:bg_black-9 h:c_white a:c_white a:bg_primary h:shadow_overlap-light a:shadow_overlap-light {% if page.facultyActive %}active{% endif %}">
			<a class="c_inherit-all flex flex_column h:undecorated p_3" href="./faculty"><i class="icon fas fa-fw fa-user p-y_2 self_center"></i><span class="label self_center  lowercase lh_0 font_n2 h_1h ">Faculty</span></a>
		</li>
		<li class="nav-item flex_auto br_radius c_white-8 h:bg_black-9 h:c_white a:c_white a:bg_primary h:shadow_overlap-light a:shadow_overlap-light {% if page.coursesActive %}active{% endif %}">
			<a class="c_inherit-all flex flex_column h:undecorated p_3" href="./courses"><i class="icon fas fa-fw fa-graduation-cap p-y_2 self_center"></i><span class="label self_center  lowercase lh_0 font_n2 h_1h ">Courses</span></a>
		</li>
		<li class="nav-item flex_auto br_radius c_white-8 h:bg_black-9 h:c_white a:c_white a:bg_primary h:shadow_overlap-light a:shadow_overlap-light  {% if page.watchingActive == null %} disabled opacity_3 cursor_not-allowed {% endif %} {% if page.watchingActive %}active{% endif %}">
			<a class="c_inherit-all flex flex_column h:undecorated p_3" href="./presentation"><i class="icon fas fa-fw fa-play p-y_2 self_center"></i><span class="label self_center lowercase lh_0 font_n2 h_1h ">Watching</span></a>
		</li>
		<li class="nav-item flex_auto br_radius c_white-8 bg_acc-n1 h:bg_black-9 h:c_white a:c_white a:bg_primary h:shadow_overlap-light a:shadow_overlap-light">
			<a href="../" class="c_inherit-all flex flex_column h:undecorated p_3"><i class="icon fas fa-fw fa-sign-out-alt p-y_2 self_center"></i><span class="label self_center lowercase lh_0 font_n2 nowrap h_1h">Log Out</span></a>
		</li>
	</ul>
</nav>