{% assign layout = include.layout | default: "ripple-inline-end" %}
{% assign active_class = include.active | default: "" %}
{% assign flag = include.flag | default: "current" %}
<div id="CHAPTERS" grid-template="ripple-card" layout="{{ layout}}"
	class="br-t_1 br_solid br_black-3 relative h:bg_accent-5  {{ active_class }}">
	<div class="p_4 randomData" grid-area="content-primary">
		<!-- html snippet goes here -->
		<h5 class="randomCategoryLabel uppercase font-size_down-1 font_display font_medium c_brand-n1 m-y_0 lh_1">Category Label</h5>
		<h3 class="randomLabel c_black-9 font-size_up-2 font_bold font_display lh_2 m-y_0 m_0 capitalize">
			Presentation Title
		</h3>
		<h4 class="randomSubLabel c_black-6 font-size_0 font_display font_medium m-y_0 capitalize">
			Sub Presentation Title
		</h4>
		<p class="randomDescription m-y_3 lh_2">
			Random Description
		</p>
		<ul class="ul_inline-semicolon font-size_down-2" data-element="value">
			<li data-element="label" class="no-after font_bold w_100 w_auto:md c_secondary-n2">
				<i class="fal display_none [fa-icon-class|display_none]"></i>
				<span>Faculty:</span>
			</li>
			<li class="randomArrayList">Bernice Lakin</li>
		</ul>
		<!-- html snippet ends here -->
	</div>
	<div grid-area="content-secondary"
		class="bg_black-_05 br-r_1 br_black-2 br_solid flex flex_column items_center font-size_down-2">
		{% include_relative /netflix/sub/file-icon.html file_type="archive" %}
		{% include_relative /netflix/sub/save-star.html %}
	</div>
	{% include_relative /netflix/sub/status-flags.html status="current" %}
	{% include_relative /netflix/sub/ripple-button.html icon="arrow-right" %}
	<div grid-area="active-highlight" class="display_none a:block bg_highlight"></div>
</div>



