<section data-component="home.slider" class="p-x_4 p-x_5:md">
	<!-- Slider main container -->
	<div class="splide bg_black-_05 br_1 br_black-2 br_radius br_solid m-b_4 p-y_4 shadow_emboss-light " aria-label="Splide Basic HTML Example">
  <div class="splide__arrows font_3:lg c_primary">
	<button class="splide__arrow splide__arrow--prev absolute t_6 b_6 z_5 shadow_overlap-light h:bg_primary-3 br_black-2 br_solid br_1 br_radius br-tl_square br-bl_square l_n5:md l_n4">
	  <i class="fa-caret-left fas"></i>
	</button>
	<button class="splide__arrow splide__arrow--next absolute t_6 b_6 z_5 shadow_overlap-light h:bg_primary-3 br_black-2 br_solid br_1 br_radius br-tr_square br-br_square r_n5:md r_n4">
	  <i class="fa-caret-right fas"></i>
	</button>
  </div>
  <div class="splide__track">
			<ul class="splide__list"> 
				
				{% include_relative netflix/program/session.html content="splide__slide" %}				
				{% include_relative netflix/program/session.html content="splide__slide" %}					
				{% include_relative netflix/program/session-extra-content.html content="splide__slide" %}					
				{% include_relative netflix/program/session.html content="splide__slide" %}					
				{% include_relative netflix/program/session.html content="splide__slide" %}					
				{% include_relative netflix/program/session.html content="splide__slide" %}					
				{% include_relative netflix/program/session.html content="splide__slide" %}					
				{% include_relative netflix/program/session.html content="splide__slide" %}					
				{% include_relative netflix/program/session.html content="splide__slide" %}
				{% include_relative netflix/program/view-all.html content="splide__slide" %}
			</ul>
		</div>
	</div>
<!-- // https://splidejs.com/ -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.17/dist/css/splide-core.min.css">
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.17/dist/css/sea-green.min.css"> -->
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.17/dist/js/splide.min.js"></script>
<script>
document.addEventListener( 'DOMContentLoaded', function() {
  var splide = new Splide( '.splide' , {
  type       : '',
  perPage    : 4,
  padding    : "1rem",
  gap: '1rem',
  breakpoints: {
	1200:{perPage: 3,},
	1024:{perPage: 2,},
	768: {
	perPage: 2,
  },
  640: {
	perPage: 1,
  },
  480: {
	perPage: 1,
	padding    : "2rem",
  },

},
classes: {
	// Add classes for arrows.
	arrows: 'splide__arrows your-class-arrows',
	arrow : 'splide__arrow your-class-arrow scale_50 absolute t_6 b_6 z_5 shadow_overlap-light h:bg_primary-3 br_black-2 br_solid br_1 br_radius br-tr_square br-br_square',
	prev  : 'splide__arrow--prev your-class-prev l_0 rotate_180 ',
	next  : 'splide__arrow--next your-class-next r_0 ',

	// Add classes for pagination.
	pagination: 'splide__pagination your-class-pagination gap_3', // container
	page      : 'splide__pagination__page your-class-page br_round aspect-ratio_1x1 bg_black-6 a:bg_primary', // each button
  },
} );
  splide.mount();
} );
</script>

<!-- Slider End Container -->
</section>