<div class="br-t_1 br_solid br_black-3 flex flex_row-reverse relative h:bg_accent-5 flex_100">
	<div class="bg_black-_05 br-l_1 text_center br_black-2 br_solid flex_none font_n1 {{ include.spacing }}">{% include_relative /netflix/sub/save-star.html %}</div>
	<div class="p_4 flex_auto {{ include.spacing }}">
		<h3 class="c_black-8 font-size_0 font_bold font_display lh_2 m-y_0 m_0">(Module Title) Introduction and Self Evaluation</h3>
		<h4 class="c_black-6 font-size_down-1 font_display font_medium m-y_0">(Sub Presentation Title) Course Outline and Expectations</h4>
		<ul class="ul_inline-semicolon font-size_down-2" data-element="value">
			<li data-element="label" class="no-after font_bold w_100 w_auto:md c_secondary-n2">
				<i class="fal display_none [fa-icon-class|display_none]"></i>
				<span>Faculty:</span>
			</li>
			<li>Bernice Lakin</li>
			<li>Eddie Nikolaus II</li>
			<li>Nick Larkin</li>
		</ul>
	</div>
	{% include_relative netflix/sub/module-current-footer.html %}
</div>