<li grid-template="ripple-card" layout="ripple-left" class="br-t_1 br_solid br_black-3 flex flex_row-reverse relative bg_black-2 cursor_not-allowed">
	<div grid-area="content-primary" class="p_4 flex_auto opacity_7">
		<h3 class="c_black-8 font-size_0 font_bold font_display lh_2 m-y_0 m_0">(Presentation Title)[Locked] Overcoming
			Burnout</h3>
		<h4 class="c_black-6 font-size_down-1 font_display font_medium m-y_0">(Sub Presentation Title) Practical Tips
			from Successful Entrepreneurs and Business Leaders</h4>
		<ul class="ul_inline-semicolon font-size_down-2" data-element="value">
			<li data-element="label" class="no-after font_bold w_100 w_auto:md c_secondary-n2">
				<i class="fal display_none [fa-icon-class|display_none]"></i>
				<span>Faculty:</span>
			</li>
			<li>Brent Schumm</li>
			<li>Lana Williamson</li>
		</ul>
	</div>
	<div grid-area="content-secondary" class="bg_black-_05 br-l_1 m-r_n2 flex flex_column items_center br_black-2 br_solid font-size_down-2">
		{% include_relative /netflix/sub/lock-icon.html %}
	</div>
	{% include_relative netflix/sub/module-locked-footer.html %}
</li>

