<style lang="">
	:root {
		--br_square: 0px;
		--br_radius: 8px;
		--br_round: 16px;
		--br_circle: 100%;
		/*
		"hsl":[207,95,8],
		"hsl":[345,100,60],
		"hsl":[174,62,47],
		"hsl":[61,94,58],
		"hsl":[202,90,54], 
		*/
		--brand-h: 207deg;
		--brand-s: 95%;
		--brand-l: 8%;
		--primary-h:174deg;
		--primary-s:62%; 	
		--primary-l:47%; 	
		--secondary-h: 345deg; 
		--secondary-s:100%; 
		--secondary-l:60%; 
		--accent-h: 202deg;
		--accent-s: 90%;
		--accent-l: 54%;
		--highlight-h: 61deg;
		--highlight-s: 94%;
		--highlight-l: 58%;
		--black-h: 0deg;
		--black-s: 0%;
		--black-l: 6.2745098039%;
		--white-h: 0deg;
		--white-s: 0%;
		--white-l: 99.2156862745%;
		--link-color: hsl(var(--secondary-h), var(--secondary-s), calc(var(--secondary-l) + ((var(--secondary-l)) * -0.37)));
		--link-hover-color: hsl(var(--secondary-h), var(--secondary-s), calc(var(--secondary-l) + ((var(--secondary-l)) * -0.50)));
		--accent-color:  hsl(var(--accent-h), var(--accent-s), var(--accent-l));
		--font_display:  Arial Black, Impact, sans-serif;
		--font_accent: Rockwell Extra Bold, Rockwell Bold, monospace;
		--font_copy: 'Montserrat', Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
		--font_mono: Lucida Console, Lucida Sans Typewriter, monaco, Bitstream Vera Sans Mono, monospace;
	}
</style>



