<style lang="">
	:root {
		--br_square: 0px;
		--br_radius: 8px;
		--br_round: 16px;
		--br_circle: 100%;
		/*
--rich-black-fogra-29: hsla(209, 51%, 8%, 1);
--bright-yellow-crayola: hsla(39, 96%, 53%, 1);
--honolulu-blue: hsla(201, 100%, 33%, 1);
--carmine: hsla(351, 96%, 30%, 1);
--cinnabar: hsla(8, 80%, 56%, 1);
		*/
		--brand-h: 202deg;
		--brand-s: 60%;
		--brand-l: 59%;
		--primary-h: 197deg;
		--primary-s: 13%;
		--primary-l: 42%;
		--secondary-h:218deg;
		--secondary-s:54%;
		--secondary-l:32%;
		--accent-h: 157;
		--accent-s: 100%;
		--accent-l: 42%;
		--highlight-h: 210deg;
		--highlight-s: 59%;
		--highlight-l: 80%;

		--accent-h: 210;
		--accent-s: 59%;
		--accent-l: 80%;
		--highlight-h: 157deg;
		--highlight-s: 100%;
		--highlight-l: 42%;



		--black-h: 0deg;
		--black-s: 0%;
		--black-l: 6.2745098039%;
		--white-h: 0deg;
		--white-s: 0%;
		--white-l: 99.2156862745%;
		--link-color: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) + ((var(--primary-l)) * -0.37)));
		--link-hover-color: hsl(var(--secondary-h), var(--secondary-s), calc(var(--secondary-l) + ((var(--secondary-l)) * -0.50)));
		--accent-color:  hsl(var(--accent-h), var(--accent-s), var(--accent-l));
		--font_display:  Libre Franklin, sans-serif;
		--font_accent: Rockwell Extra Bold, Rockwell Bold, monospace;
		--font_copy: 'Montserrat', Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
		--font_mono: Lucida Console, Lucida Sans Typewriter, monaco, Bitstream Vera Sans Mono, monospace;
	}
</style>



