<div class="isolation_isolate">
	<h3 class="c_black-8 font-size_0 font_bold font_display lh_2 m-y_0 m_0">(Presentation Title) Rhythm and Conduction Disorders</h3>
	<h4 class="c_black-6 font-size_down-2 font_display font_medium m-y_0">(Sub Presentation Title) Rhythm and Conduction Disorders</h4>
</div>
<span data-element="save-star-desktop" class="absolute t_3 r_3 font-size_down-3 m-l_auto z_2">
	{% include  /netflix/sub/save-star.html %}
</span>
<span data-element="presentation-player" class="aspect-ratio_1x1 m-l_auto bg_brand-n2 br_circle inline-block br_solid br_brand-n2 br_2 self_center m-y_4 z_1 font-size_down-2">
	<a href="" data-element="footer-button-bar--button" class="button bg_white-6 c_black br_circle aspect-ratio_1x1 grid items_center justify_center h:bg_primary h:c_white expanded-click-area z_1">
		<i class="fa-solid fas fa-play c_inherit-all font-size_down-2"></i>
	</a>
</span>