<div class="isolation_isolate">
	<h3 class="c_black-8 font-size_0 font_bold font_display lh_2 m-y_0 m_0">(Presentation Title) Rhythm and Conduction Disorders</h3>
	<h4 class="c_black-6 font-size_down-2 font_display font_medium m-y_0">(Sub Presentation Title) Rhythm and Conduction Disorders</h4>
	<!-- Start of Keyword Found Conditional Block: This block turns on if the keywords were found within the video transcript, title, or subtitle of this presentation -->
	<!-- <span class="absolute bg_accent-n1 br-bl_round c_white font_n2 grid items_center justify_center p-r_0 p_3 r_0 t_0 text_center">
		<i class="fas fa-solid fa-search m-r_3"></i>
	</span>
	<span class="bg_accent-n1 br_round c_white font-size_down-3 p-x_4 p-y_2 r_0 t_0"><i class="fas fa-solid fa-search m-r_3"></i><span class="font_medium font_ui">Keyword Found</span> -->
		<!-- End of Keyword Found Conditional Block -->
</div>
<span class="grid self_stretch items_start flex_none font-size_down-3 br-r_1 br_solid br_black-3 p-r_3 m-r_3 m-l_auto z_2">
	{% include  /netflix/sub/save-star.html %}
</span>
<span data-element="presentation-player" class="aspect-ratio_1x1 bg_brand-n2 br_circle inline-block br_solid br_brand-n2 br_2 self_center z_1 font-size_down-2">
	<a href="" data-element="footer-button-bar--button" class="button bg_white-6 c_black br_circle aspect-ratio_1x1 grid items_center justify_center h:bg_primary h:c_white expanded-click-area z_1">
		<i class="fa-solid fas fa-play c_inherit-all font-size_down-2"></i>
	</a>
</span>