<li class="flex flex_column items_center user-select_none relative">
    <div class="br_radius bg_white-9 font_1 shadow_bevel-light flex flex_column br_solid br_black-3 br_1 self_stretch ">
        <article class="flex flex_row:md flex_column p_3 gap-x_5:lg gap-x_4 relative">
            <header class="aspect-ratio_16x9 bg_cover br-solid br_1 br_black-3 br_radius m_0:md m_auto max-w_20 relative self_start shadow_2 w_100" style="background-image:url(https://placeimg.com/640/480/sports)">
                <div class="absolute t_0 l_3 p-x_3 p-y_2 bg_brand-n3 br-br_radius br-bl_radius c_white font-size_down-2" data-element="flags">Watched</div>
                <div class="absolute t_3 r_0 z_2" data-element="save-toggle">
                    {% include  /netflix/sub/save-star.html %}
                </div>
                <div class="absolute b_3 flex font_n1 l_4 r_4 self_baseline">
                    <progress class="w_100" id="file" max="100" value="70"> 70% </progress>
                </div>
            </header>
            <main class="font_1 lh_1 flex flex_column gap-y_2 p-x_3 p-x_0:md p-t_4 p-r_4 p-r_5:lg font_display self_start">
                <h1 class="c_secondary-n1 font-size_down-2 font_display font_medium m-y_0 opacity_8"> (Collection Title) Yearly Conference </h1>
                <h2 class="font-size_up-1 font_bold font_display c_primary-n1 m-y_0 lh_1">(Title) Quam ut Blat Ruble Prapms</h2>
                <h3 class="c_black-7 font-size_down-1 font_medium font_ui m-y_0">(Session Sub Title) Rhythm and Conduction Disorders</h3>
                <ul class="ul_none p-t_4 m-t_auto flex flex_row flex_wrap justify_start font-size_down-2 c_black-7 m-t_auto lh_0 items_end gap_3">
                    <li class="inline-block br_radius p-x_3 m-l_n3 p_3 z_3 relative lh_0 z_2">
                        <span class="font-size_up-1 c_secondary-n2 block"><i class="fal fa-clock"></i> 15</span> minutes
                    </li>
                    <li class="inline-block br_radius p-x_3 m-l_n3 p_3 z_3 relative h:bg_black-2 lh_0 z_2">
                        <a href="#" class="undecorated h:undecorated expanded-click-area">
                            <span class="font-size_up-1 c_secondary-n2 block"><i class="fal fa-paperclip p-r_3"></i> <span class="p-r_3">PDF</span></span> Attachments </a>
                    </li>
                </ul>
            </main>
            <nav data-element="presentation-player" class="aspect-ratio_1x1 bg_brand-n2 br_circle inline-block  m-r_4:md m-r_5 p_2 self_center m-l_auto">
                <a href="" data-element="footer-button-bar--button" class="button bg_white-6 c_black br_circle aspect-ratio_1x1 grid items_center justify_center h:bg_primary h:c_white [expanded-click-area] z_1">
                    <i class="fa-solid fas fa-list c_inherit-all font-size_down-1"></i>
                </a>
            </nav>
        </article>
        <aside>
        <ul class="ul_none font_copy">
            <li class="br-t_1 br_solid br_black-3 p_4 flex flex_row relative h:bg_primary-5 p-b_4 relative">
                {% include  /netflix/program/presentation-with-keyword.html %}
            </li>
            <li class="br-t_1 br_solid br_black-3 p_4 flex flex_row relative h:bg_primary-5 p-b_4 relative">
                {% include  /netflix/program/presentation-with-keyword.html %}
            </li>
            <li class="br-t_1 br_solid br_black-3 p_4 flex flex_row relative h:bg_primary-5 p-b_4 relative">
                {% include  /netflix/program/presentation-without-keyword.html %}
            </li>
        </ul>
        </aside>
        <footer data-element="footer-button-bar" class="bg_brand-n2 br-br_radius br-bl_radius flex flex_row-reverse nowrap items_end  font_2 m_n1 m-t_auto">
        </footer>
    </article>
</li>