<li class="flex flex_column items_center user-select_none relative">
    <article class="br_radius bg_white-9 font_1 shadow_bevel-light flex flex_column br_solid br_black-3 br_1 self_stretch ">
	<div class="flex flex_row:md flex_column p_3 gap-x_5:lg gap-x_4">
        <header class="aspect-ratio_16x9 bg_cover br_radius m_0:md m_auto max-w_20 relative self_start w_100" style="background-image:url(http://placeimg.com/640/480/sports)">
            <div class="absolute t_0 l_3 p-x_3 p-y_2 bg_primary-n3 br-br_radius br-bl_radius c_white font-size_down-2" data-element="flags">Watched</div>
            <div class="absolute t_3 r_0 z_2" data-element="save-toggle">
                <span class="fa-stack fa-2x font-size_0 c_accent h:c_accent-n2">
                <i class="fa-solid fas fa-bookmark fa-stack-2x  c_inherit-all text-shadow_black-1"></i>
                <i class="fa-solid fas fa-star fa-stack-1x c_white h:c_black"></i>
                </span>
            </div>
            <div class="absolute b_3 flex font_n1 l_4 r_4 self_baseline">
                <progress class="w_100" id="file" max="100" value="70"> 70% </progress>
            </div>
        </header>
        <main class="font_1 lh_1 flex flex_column gap-y_2 p-x_3 p-x_0:md p-t_4 p-r_4 p-r_5:lg font_display self_start">
            <h1 class="c_secondary font-size_down-1 font_ui font_xbold m-y_0"> (Collection Title) Yearly Conference </h1>
            <h2 class="font-size_up-1 font_bold font_display c_primary m-y_0">(Title) Quam ut Blat Ruble Prapms</h2>
            <h3 class="c_black-7 font-size_down-1 font_medium font_ui m-y_0">(Session Sub Title) Rhythm and Conduction Disorders</h3>
            <ul class="ul_none p-t_4 m-t_auto flex flex_row flex_wrap justify_start font-size_down-2 c_black-7 m-t_auto lh_0 items_end gap_2">
                    <li class="inline-block br_radius p-x_3 m-l_n3 p_3 z_3 relative lh_0 z_2">
                        <span class="font-size_up-1 c_accent-n2 block"><i class="fal fa-clock"></i> 15</span>
                        minutes
                    </li>
                    <li class="inline-block br_radius p-x_3 m-l_n3 p_3 z_3 relative h:bg_black-2 lh_0 z_2">
                        <a href="#" class="undecorated h:undecorated expanded-click-area">
                        <span class="font-size_up-1 c_primary-n2 block"><i class="fal fa-paperclip p-r_3"></i> <span class="p-r_3">PDF</span></span>
                            Attachments
                        </a>
                    </li>
            </ul>
        </main>
    </div>
    <ul class="ul_none p-b_4 font_copy">
        <li class="br-t_1 br_solid br_black-3 p_4 flex flex_row relative">
            <aside>
                <h3 class="font-size_0 c_black-8 m-y_0 font_display m_0 lh_2">(Presentation Title) Rhythm and Conduction Disorders</h3>
                <h4 class="font-size_down-1 c_black-6 m-y_0">(Sub Presentation Title) Rhythm and Conduction Disorders</h4>
                <span class="c_secondary font-size_down-2"><i class="fas fa-solid fa-search m-r_3"></i><span class="font_medium font_ui">Keyword Found</span></small>
                <span class="absolute bg_secondary br-bl_round c_white grid items_center justify_center p_3 p-r_0 r_0 t_0 text_center"><i class="fas fa-solid fa-search m-r_3"></i></span>
            </aside>
            <span class="grid items_center justify_center m-l_auto m-r_2:md">
                <span class="fa-stack fa-2x font-size_0 c_accent h:c_accent-n2  m-l_auto">
                    <i class="fa-solid fas fa-bookmark fa-stack-2x  c_inherit-all text-shadow_black-1"></i>
                    <i class="fa-solid fas fa-star fa-stack-1x c_white h:c_black"></i>
                    </span>
            </span>
            <span data-element="presentation-player" class="aspect-ratio_1x1 bg_primary br_circle inline-block  m-r_4:md m-r_2 p_2 self_center">
                <a href="" data-element="footer-button-bar--button" class="button bg_white-6 c_black br_circle aspect-ratio_1x1 grid items_center justify_center h:bg_secondary h:c_white [expanded-click-area] z_1">
                    <i class="fa-solid fas fa-play c_inherit-all font-size_down-2"></i>
                </a>
            </span>
        </li>
        <li class="br-t_1 br_solid br_black-3 p_4 flex flex_row relative">
            <aside>
                <h3 class="font-size_0 c_black-8 m-y_0 font_display m_0 lh_2">(Presentation Title) Rhythm and Conduction Disorders</h3>
                <h4 class="font-size_down-1 c_black-6 m-y_0">(Sub Presentation Title) Rhythm and Conduction Disorders</h4>
            </aside>
            <span class="grid items_center justify_center m-l_auto m-r_2:md">
                <span class="fa-stack fa-2x font-size_0 c_accent h:c_accent-n2  m-l_auto">
                    <i class="fa-solid fas fa-bookmark fa-stack-2x  c_inherit-all text-shadow_black-1"></i>
                    <i class="fa-solid fas fa-star fa-stack-1x c_white h:c_black"></i>
                    </span>
            </span>
            <span data-element="presentation-player" class="aspect-ratio_1x1 bg_primary br_circle inline-block  m-r_4:md m-r_2 p_2 self_center">
                <a href="" data-element="footer-button-bar--button" class="button bg_white-6 c_black br_circle aspect-ratio_1x1 grid items_center justify_center h:bg_secondary h:c_white [expanded-click-area] z_1">
                    <i class="fa-solid fas fa-play c_inherit-all font-size_down-2"></i>
                </a>
            </span>
        </li>
    </ul>
	<footer data-element="footer-button-bar" class="bg_primary br-br_radius br-bl_radius flex flex_row-reverse nowrap items_end  font_2 m_n1 m-t_auto">
		<ul data-element="footer-button-bar--button-group" class="flex flex_row-reverse inline-block self_start ul_none">
            <li data-element="footer-button-bar--button-edge" class="aspect-ratio_1x1 bg_primary br_circle inline-block m-r_n3:md m-r_n4">
                <a href="" data-element="footer-button-bar--button" class="[expanded-click-area] aspect-ratio_1x1 bg_white-6 br_circle button c_black grid h:bg_accent h:c_black items_center justify_center z_1">
                    <i class="c_inherit-all fa-list fa-solid fas font-size_down-2"></i>
                </a>
            </li>
		</ul>
	</footer>
</article>
</li>