--- 
layout: library_app_frame 
name: "Course Overview" 
uri: "root/player/course/" 
coursesActive: true 
---
<!-- {% include /netflix/home-header-branding.html %} -->
{% include /netflix/app-header-w-search.html %}
{% include /netflix/breadcrumb-course-root.html %}
<header class="font-size_up-1 grid-area_pageHead ">
	<div data-element="introduction" class="bg_white-8 br-b_1 br_black-3 br_solid p_4 p-x_5:xl p-x_6:xxl p-y_4:lg  p-y_5:xxl">
		<h3 class="font_display font_xbold c_primary-n2"><i class="fas fa-graduation-cap p-r_3"></i>     Courses X</h3>
		<p class="max-w_70">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt reiciendis cumque ut eum alias recusandae illum officiis debitis dolores corrupti deleniti velit maiores, dignissimos adipisci rerum odio? Rerum, reprehenderit doloremque?</p>
	</div>
</header>
<div class="grid-area_mainArea br-br_radius overflow_visible">
    <article class="bg_white-6 relative font_1 font_2:lg font_3:xxl p_4 p_5:xl">
        <h1 class="">Courses</h1>
        <h2>Collection Name</h2>
        <!-- Slider main container -->
        <section class="splide" aria-label="Splide Basic HTML Example">
            <div class="splide__track">
                  <ul class="splide__list">
                      <li class="splide__slide">{% include netflix/course/course.html %}</li>
                      <li class="splide__slide">{% include netflix/course/course.html %}</li>
                      <li class="splide__slide">{% include netflix/course/course.html %}</li>
                      <li class="splide__slide">{% include netflix/course/course.html %}</li>
                      <li class="splide__slide">{% include netflix/course/course.html %}</li>
                      <li class="splide__slide">{% include netflix/course/course.html %}</li>
                      <li class="splide__slide">{% include netflix/course/course.html %}</li>
                      <li class="splide__slide">{% include netflix/course/course.html %}</li>
                      <li class="splide__slide">{% include netflix/course/course.html %}</li>
                      <li class="splide__slide">{% include netflix/course/course.html %}</li>
                      <li class="splide__slide">{% include netflix/course/course.html %}</li>
                      <li class="splide__slide">{% include netflix/course/course.html %}</li>
                      <li class="splide__slide">{% include netflix/course/course.html %}</li>
                      <li class="splide__slide">{% include netflix/course/course.html %}</li>
                  </ul>
            </div>
          </section>
    </article>
</div>

<!-- // https://splidejs.com/ -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.17/dist/css/splide-core.min.css">
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.17/dist/js/splide.min.js"></script>


<script>
    document.addEventListener( 'DOMContentLoaded', function() {
      var splide = new Splide( '.splide' , {
      type       : 'loop',
      perPage    : 4,
      gap: '1rem',
      breakpoints: {
		640: {
			perPage: 2,
		},
     }
    } );
      splide.mount();
    } );
  </script>