--- 
layout: library_app_frame 
name: "Course Outline" 
uri: "root/outline/course/course-name" 
coursesActive: true 
---

{% include_relative netflix/app-header-w-search.html %}
{% include_relative netflix/breadcrumb-course.html %}
<header class="grid-area_pageHead overflow_visible relative bg_white-8 relative p_5:xl p_4:lg p_3 font_n1 font_0:lg font_1:xxl br-b_1 br_black-3 br_solid">
{% include_relative netflix/sub/session-label.html %}
<div class="absolute t_3 r_2 z_2 font_n1" data-element="save-toggle">
			{% include_relative netflix/sub/save-star.html %}
		</div>
</header>
<div class="grid-area_mainArea br-br_radius overflow_visible grid:lg   grid-x_6:lg grid-x_5:xl grid-x_4:xxl">
	<section class="bg_white-6 col-end_end col-start_2 font_0 font_1:lg p_3 p_4:lg p_5:xl reading-typography relative row-start_start">
		<h1 class="">Module Name</h1>
		<p class="">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis, quibusdam ut? Enim aspernatur quo doloremque qui dolorem quae sequi quod accusantium ipsa tempore cupiditate dicta odit libero, recusandae quia fugiat.</p>
<ul class="ul_none flex flex_column gap_4">
	<li>{% include_relative netflix/chapter/chapter.html %}</li>
	<li>{% include_relative netflix/chapter/chapter.html %}</li>
</ul>
		
	</section>	
	<nav data-label="video-que-navigation" class="col-start_start col-end_1 font_0 font_1:lg grid justify_stretch items_stretch row-start_start">
		<h2 class="display_none:lg bg_white-8 br_0 br-t_1 br-b_1 br_solid br_black-2 p_3 p_4:lg shadow_overlap-light m-b_0">
			Chapter Progress
		</h2>
		<ul class="b_0 br-l_1 br_black-3 br_solid flex flex_column items_stretch justify_start justify_stretch t_1 ul_none">
			<li class="relative h:bg_white-4 br-b_1 br_solid br_white-6 flex flex_row m-l_n1  "> 
                {% include_relative  /netflix/course/module.html %}
			</li>
            <li class="relative h:bg_white-4 br-b_1 br_solid br_white-6 flex flex_row m-l_n1  "> 
				{% include_relative  /netflix/course/module.html %}
			</li>
            <li class="bg_white-6 flex flex_row m-l_n1 relative">
				{% include_relative  /netflix/course/module-current.html %}
			</li>
            <li class="bg_black-4 br-b_1 br-black-4 br_solid c_white flex flex_row font-size_down-1 font_bold items_center m-l_n1 p_3 p-x_4 relative text-shadow_black-1"><i class="fa-lock fa-solid fas m-r_4"></i> Complete all the previous module(s) to progress. </li>
			<li class="relative br-b_1 br_solid br_white-6 flex flex_row m-l_n1 cursor_not-allowed"> {% include_relative  /netflix/course/module-locked.html %}</li>
			<li class="relative br-b_1 br_solid br_white-6 flex flex_row m-l_n1 cursor_not-allowed">  {% include_relative  /netflix/course/module-locked.html %}</li>		
            <li class="relative br-b_1 br_solid br_white-6 flex flex_row m-l_n1 cursor_not-allowed"> {% include_relative  /netflix/course/module-locked.html %}</li>
		</ul>
	</nav>
</div>