--- 
layout: library_app_frame
name: "Credits"
uri: "root/credits"
creditsActive: true
--- 

{% include_relative netflix/app-header-w-search.html %}
{% include_relative netflix/breadcrumb-search.html %}
<header class="font-size_up-1 grid-area_pageHead ">
	<div class="introduction p-x_3 p-x_4:lg p-x_5:xxl p-y_4:xxl p-y_3:lg p-y_2 bg_white-8 br-b_1 br_solid br_black-3">
		<h3 class="font_display font_xbold c_primary-n2 m-y_2">Credits</h3>
	</div>
</header>
<div class="grid-area_mainArea bg_white-8 br-br_radius overflow_visible justify_start">
    <main class="flex flex_column flex_row:lg min-h_60:md bg_white-7 br_radius br_solid br_1 br_black-2 p_5:lg p_4 flex_auto">
        <div class="flex_auto w_50:lg br-r_1 br_dotted:lg br_none br_primary-3 reading-typography font-size_up p_5:lg p_4">
            <h1 ><span class="">Claim Credit Based on Total Watch Time</span><sup>*</sup></h1>
            <p>We’re keeping track of the time you spend watching videos to make it easier for you to claim credit.  The chart below shows total watch time by credit type.  ​
            </p>
            <h2 class="">You have watched a lot of this education.</h2>
            <section class="br_radius overflow_hidden relative z_1 h_50:lh h_60:md h_80" id="CreditChartContainer" style="width:100%;">
        
            </section>
    
            <p class="font-size_down c_priamry-n2"><sup>*</sup>claimed credits and watched video can take up to 24 hours to reflect in your profile. </p>
        </div>
        <div class="flex_auto w_50:lg  br-t_1 br_dotted br_none:lg br_primary-3  p_5:lg p_4">
            <section class="">
                <div class="reading-typography">
                    <h2>Claiming Credit</h2>
                    <p> Credit claiming will be available beginning December 12, 2021, at noon ET. Credit must be claimed by March 12, 2022, at 11:59 p.m. ET. You may only complete the evaluation and claim credit once; therefore, please do not proceed until you have finished your participation in the certified content for which you wish to claim credit. </p>
                </div>
                <div class="bg_secondary-5 br_1 br_dotted br_round br_secondary c_black p_4 p-x_5:lg p-x_6:xl text_center">
                    <h3 class="c_secondary-n4 font_bold  br-b_2 br_solid br_secondary p-y_3 p-x_5:lg p-x_4"><i class="fas fa-exclamation-triangle"></i> Caution <i class="fas fa-exclamation-triangle"></i></h3>
                    <h5 class="c_secondary-n5 font_bold m-t_4 p-b_3 uppercase">You can only claim once so please watch as much as you want before claiming. </h5>
                    <a class="btn btn-lg btn-primary font_medium font_ui shadow_overlap-light">Claim Credits</a>
                </div>
        </div>
    </main>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['Credit Type', 'Watched Hours', { role: 'style' },'Total Credit Hours',{ role: 'style' }],
                    ['CME', 8.94, "#00a15b",  100, '#cccccc'],
                    ['MOC', 19.30, "#9a1267",  100, '#cccccc'],
                    ['ABP MOC', 19.30, "#0b6d4c",  100, '#cccccc'],
                    ['CNE', 10.49, "#198dae",  100, '#cccccc'],
                    ['AAPA', 1.45, "#e8c536", 100, '#cccccc'],
                    ['CPE', 1.45, "#992e2e", 100, '#cccccc'],
                    ['IPCE', 2,  "#6c36b3", 31, "#cccccc"],
                    ['ECME', 2,  "#d16528", 100, "#cccccc"],
                    
                ]);
                var view = new google.visualization.DataView(data);
                var options = {
                title: "My Watch Time (by credit type) Your watch time = colored bars; total credit available = gray bars",
                subtitle: 'Your watch time = colored bars; total credit available = gray bars',
                bars:'horizontal',
                    legend: { position: "right", },
                series: {
                    0: { haxis: 'Watched Hours' },
                    1: { haxis: 'Total Credit Hours' },
                },
                hAxis:{title: 'Total Credit Hours in Grey' , side:'top' ,scaleType: 'log', ticks: [0, 5, 10, 20, 40,100] },
                vAxis: {title: 'Credit Types', titleTextStyle: {color: 'black'}},
                colors: ['blue','#cccccc'],
                    };
                var chart = new google.visualization.BarChart(document.getElementById("CreditChartContainer"));
                chart.draw(view, options);
            }
            const element = document.querySelectorAll('#CreditChartContainer');
            const observer = new ResizeObserver(element[0], () => {
                drawChart();
            });
        });
        </script>
</div>