--- 
layout: library_app_frame 
name: "Home" 
uri: "root/index (authenticated & access)" 
homeActive: true 
---
<!-- {% include /netflix/home-header-branding.html %} -->
{% include /netflix/app-header-w-search.html %}
{% include /netflix/breadcrumb.html %}
<section class="grid-area_mainArea grid:md flex flex_column bg_white-8 br-br_radius p_5:xxl p_4:lg p_3">
	

		<div class="gap-4 grid grid-x_5:xxl  grid-x_4:xl   grid-x_3:lg  grid-x_2:md grid-x_1 p_5">
			{% include /netflix/program/session.html %}
			{% include /netflix/program/session.html %}
			{% include /netflix/program/session.html %}
			{% include /netflix/program/session.html %}
			{% include /netflix/program/session.html %}
		</div>
</section>