--- 
layout: library_app_frame 
name: "4.1 | Player scroll sidebar" 
uri: "root/player/course/video-que/presentation-name" 
watchingActive: true 
---

{% include_relative netflix/app-header-w-search.html %}
{% include_relative netflix/breadcrumb-course-video.html %}
<header class="font-size_up-1-1 grid-area_pageHead ">
	<div class="introduction p-x_3 p-x_4:lg p-x_5:xxl p-y_4:xxl p-y_3:lg p-y_2 bg_white-8 br-b_1 br_solid br_black-3">
		<h3 class="font_display font_xbold c_primary-n2 m-y_2">Video Player with Sidebar</h3>
	</div>
</header>
<div class="grid-area_mainArea br-br_radius overflow_visible cq_parent">
	<section class="grid:md grid-x_6:lg grid-x_5:xl grid-x_4:xxl">
		<article class="bg_white-6 col-start_start col-end_4 relative font_1 font_2:lg font_3:xxl">
			<div class="absolute t_3 r_3 z_2 font_n1" data-element="save-toggle">
				{% include_relative netflix/sub/save-star.html %}
			</div>
			{%  include_relative netflix/player/video.html %}

		</article>	
		<aside class="col-end_end col-start_4 font_n2 font_n1:lg grid items_stretch justify_stretch overflow_auto relative scrollbar-mini shadow_emboss-light bg_black-2">
			<div class="absolute:lg br-l_1 br_black-3 br_solid flex flex_column items_stretch justify_start justify_stretch b_1 l_1 r_1 t_1 ul_none"> 

				{% include_relative netflix/player/sidebar-text.html %}
			</div>
		</aside>
	</section>
{% include_relative netflix/player/information.html %}
</div>