--- 
layout: library_app_frame 
name: "Player" 
uri: "root/player/collection-name/video-que/presentation-name" 
watchingActive: true 
---
<!-- {% include_relative netflix/home-header-branding.html %} -->
{% include_relative netflix/app-header-w-search.html %}
{% include_relative netflix/breadcrumb.html %}
<div class="grid-area_mainArea br-br_radius overflow_visible grid  grid-x_6:lg grid-x_5:xl grid-x_4:xxl">
	<article class="bg_white-6 col-start_start col-end_4 relative font_1 font_2:lg font_3:xxl">
		<div class="absolute t_3 r_2 z_2 font_n1" data-element="save-toggle">
			{% include_relative netflix/sub/save-star.html %}
		</div>
		<main data-label="player" class="w_100" >
			<div class="player hd full player hd full  p-x_6:xl p-x_5:lg p-x_4:md p-x_3 p-y_4 p-y_5:xl">
				<h3 class="font-size_down-3 c_secondary-n1 uppercase p-r_4">(Collection Name) Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque</h3>
				<div class="aspect-ratio_16x9 bg_cover br-solid br_1 br_black-3 br_radius relative self_start shadow_2 w_100" style="background-image:url(https://placeimg.com/640/480/arch)">
					<div class="absolute t_0 l_3 p-x_3 p-y_2 bg_brand-n3 br-br_radius br-bl_radius c_white font-size_down-2" data-element="flags">Watched</div>

					<div class="absolute b_3 flex font_n1 l_4 r_4 self_baseline">
						<progress class="w_100" id="file" max="100" value="70"> 70% </progress>
					</div>
				</div>
				<header class="p-b_5 p-t_4 p-y_4:md p-y_4:xl max-w_60">
					<h1 data-label="session-name" class="font-size_down-3 c_black-7 uppercase font_display font_medium m-y_0">(Video Que Name) Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque</h1>
					<h2  data-label="presentation-name"class="font-size_up-1 c_primary-n1 font_display font_bold lh_0 m-y_2:lg m-y_0">Rerum omnis odio voluptate eaque est necessitatibus.</h2>
					<h3  data-label="Presentation-subname" class="font-size_down-2 c_black-8 font_ui m-y_0 lh_1">Quibusdam quia errorco. Sectetur dolores molestiae</h3>
					<span class="bg_accent-n2 br_radius c_white font-size_down-2 p-x_3 p-y_2 r_0 t_0 inline-block font-size_down-3">
						<i class="fas fa-solid fa-search m-r_3"></i>
						<strong class="font_medium font_ui">Keyword Found in Video @: </strong>
						<ul class="ul_none ul_inline-pipe gap_1">
							<li class=""><a href="" class="c_white h:c_white underline h:undecorated">0:59</a></li>
							<li class=""><a href="" class="c_white h:c_white underline h:undecorated">1:10</a></li>
						</ul>
					</span>
				</header>
				<div class="font_0 font_1:lg font_2:xxl">
					<h5 class="c_black-8 font-size_down-3">How did you like this presentation?</h5>
					<ul class="ul_none flex flex_row   flex flex_row gap_2">
						<li class="br_solid br_black-3 br_radius br_1 h:bg_black-3">
							<a class="p-y_3 p-x_4 " href=""><i class="fal fa-thumbs-up"></i></a>
						</li>
						<li class="br_solid br_black-3 br_radius br_1 h:bg_black-3">
							<a class="p-y_3 p-x_4 " href=""><i class="fal fa-thumbs-down"></i></a>
						</li>
						<li class="br_solid br_black-3 br_radius br_1 h:bg_black-3 m-l_auto">
							<a class="p-y_3 p-x_4 " href=""><i class="fal fa-paperclip"></i> Attachments</a>
						</li>
					</ul>
				</div>
            </div>
		</main>
		<section data-label="information" class="p-x_3 p-x_4:md p-x_5:xl font_0 font_1:lg font_2:xxl">
			<div class="flex_row:md flex m-y_3 m-y_0:md">
				<div class="flex_auto grid">
					<span class="br-t_1 br_black-6 br_dotted br_inherit self_center"></span>
				</div>
				<div class="flex_shrink p-x_3 p-x_4:md p-x_5:xl lh_1 text_center">
					<strong class="c_black-8 block font_ui font-size_down-1 p-y_4 p-y_2:md">Presenters</strong>
				</div>
				<div class="flex_auto grid">
					<span class="br-t_1 br_black-6 br_dotted br_inherit self_center"></span>
				</div>
			</div>
			<div class="grid grid-x_4:xl grid-x_2 gap-x_5:xl gap-x_4 gap-y_5 p_3 p_4:md p_5:xl justify_center items_center">
				{% include_relative netflix/sub/faculty.html %}
				{% include_relative netflix/sub/faculty.html %}
				{% include_relative netflix/sub/faculty.html %}
				{% include_relative netflix/sub/faculty.html %}
			</div>
		</section>
		<section data-label="information" class="p-x_3 p-x_4:md p-x_5:xl font_0 font_1:lg font_2:xxl m-b_3">
			<div class="flex_row:md flex m-y_3 m-y_0:md">
				<div class="flex_auto grid">
					<span class="br-t_1 br_black-6 br_dotted br_inherit self_center"></span>
				</div>
				<div class="flex_shrink p-x_3 p-x_4:md p-x_5:xl lh_1 text_center">
					<strong class="c_black-8 block font_ui font-size_down-1 p-y_4 p-y_2:md">Meta Data</strong>
				</div>
				<div class="flex_auto grid">
					<span class="br-t_1 br_black-6 br_dotted br_inherit self_center"></span>
				</div>
			</div>
			<div class="grid grid-x_4:xl grid-x_3:lg grid-x_2 gap-x_5:xl gap-x_4 gap-y_5 p_3 p_4:md p_5:xl justify_center items_center font-size_down-2">
				<div class="flex gap_y-3">
					<strong class="font_display font_bold">Category</strong>
					<ul class="ul_none ul_inline-comma font-medium c_black-7 font-size_down-1 gap-y_2 lh_0 uppercase">
						<li class="">quam</li>
						<li class="">omnis</li>
						<li class="">consectetur</li>
						<li class="">blanditiis</li>
						<li class="">voluptate</li>
						<li class="">mollitia</li>
					</ul>
				</div>
				<div class="flex gap_y-3">
					<strong class="font_display font_bold">Tags</strong>
					<ul class="ul_none ul_inline-comma font-medium c_black-7 font-size_down-1 gap-y_2 lh_0 uppercase">
						<li class="">quam</li>
						<li class="">omnis</li>
						<li class="">consectetur</li>
						<li class="">blanditiis</li>
						<li class="">voluptate</li>
						<li class="">mollitia</li>
					</ul>
				</div>
				<div class="flex gap_y-3">
					<strong class="font_display font_bold">Meta Data</strong>
					<ul class="ul_none ul_inline-comma font-medium c_black-7 font-size_down-1 gap-y_2 lh_0 uppercase">
						<li class="">quam</li>
						<li class="">omnis</li>
						<li class="">consectetur</li>
						<li class="">blanditiis</li>
						<li class="">voluptate</li>
						<li class="">mollitia</li>
					</ul>
				</div>
				<div class="flex gap_y-3">
					<strong class="font_display font_bold">Credits</strong>
					<ul class="ul_none ul_inline-comma font-medium c_black-7 font-size_down-1 gap-y_2 lh_0 uppercase">
						<li class="">quam</li>
						<li class="">omnis</li>
						<li class="">consectetur</li>
						<li class="">blanditiis</li>
						<li class="">voluptate</li>
						<li class="">mollitia</li>
					</ul>
				</div>
			</div>
		</section>
	</article>	
	<nav data-label="video-que-navigation" class="col-start_4 col-end_end font_0 font_1:lg grid justify_stretch items_stretch">
		<ul class="b_0 br-l_1 br_black-3 br_solid flex flex_column items_stretch justify_start justify_stretch t_0 ul_none">
			<li class="relative h:bg_white-4 br-b_1 br_solid br_white-6 p_4 flex flex_row m-l_n1"> {% include_relative  /netflix/program/presentation-with-keyword.html %}</li>
			<li class="bg_white-6 br-l_4 br_highlight br_solid flex flex_row m-l_n1 p-t_5 p_4 p-b_5 relative">
				{% include_relative  /netflix/program/presentation-with-play.html %}
				<ul class="absolute t_0 l_3 font-size_down-2 ul_none flex flex_row nowrap gap-x_1" data-element="flags">
					<li class="p-x_3 p-y_2 bg_highlight-1 br-br_radius br-bl_radius c_black font_xbold"><i class="fas fa-solid fa-play"></i> Playing</li>
					<li class="p-x_3 p-y_2 bg_brand-n3 br-br_radius br-bl_radius c_white">Watched</li>
				</ul>
			</li>
			<li class="relative h:bg_white-4 br-b_1 br_solid br_white-6 p_4 flex flex_row m-l_n1"> {% include_relative  /netflix/program/presentation-without-keyword.html %}</li>
			<li class="relative h:bg_white-4 br-b_1 br_solid br_white-6 p_4 flex flex_row m-l_n1"> {% include_relative  /netflix/program/presentation-with-keyword.html %}</li>
			<li class="relative h:bg_white-4 br-b_1 br_solid br_white-6 p_4 flex flex_row m-l_n1"> {% include_relative  /netflix/program/presentation-without-keyword.html %}</li>
			<li class="relative h:bg_white-4 br-b_1 br_solid br_white-6 p_4 flex flex_row m-l_n1"> {% include_relative  /netflix/program/presentation-without-keyword.html %}</li>
		</ul>
	</nav>
</div>