body { background: hsl(var(--brand-h), var(--brand-s), var(--brand-l)); background: radial-gradient(at top left, hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) * 0.75)), hsl(var(--brand-h), var(--brand-s), var(--brand-l)) 100%); padding: clamp(8px, 1vw, 16px); transition: transform 0.5s; }

.grid-template_page { transition: grid-template-columns 1s; grid-template-columns: 5.5rem calc(100vw - 7.5rem); grid-template-rows: auto auto auto 1fr auto; grid-template-areas: "menuArea headerArea" "menuArea breadcrumbArea" "menuArea pageHead" "menuArea mainArea" "menuArea footerArea"; min-height: calc(100vh - (2 * clamp(8px, 1vw, 16px))); }

.grid-template_page.expanded { transition: grid-template-columns 1s; grid-template-columns: 15rem 1fr; grid-template-rows: auto auto auto 1fr auto; grid-template-areas: "menuArea headerArea" "menuArea breadcrumbArea" "menuArea pageHead" "menuArea mainArea" "menuArea footerArea"; }
@media screen and (min-width: 64rem) { .grid-template_page.expanded { grid-template-columns: 20rem 1fr; } }

.grid-area_breadcrumbArea { grid-area: breadcrumbArea; grid-template-columns: 3rem 1fr; grid-template-rows: auto; grid-template-areas: "breadcrumbButtonArea breadcrumbListArea"; }
@media screen and (min-width: 45rem) { .grid-area_breadcrumbArea { grid-template-columns: 7rem 1fr; } }

.grid-breadcrumb-buttonArea { grid-area: breadcrumbButtonArea; }

.grid-breadcrumb-listArea { grid-area: breadcrumbListArea; }

.grid-area_headerArea { grid-area: headerArea; }

.grid-area_menuArea { grid-area: menuArea; }

.grid-area_pageHead { grid-area: pageHead; }

.grid-area_mainArea { grid-area: mainArea; }

.grid-area_footerArea { grid-area: footerArea; }

.nowrap { white-space: nowrap; }

.overflow_hidden { text-overflow: ellipsis; }

html:not([data-scroll="0"]) #navigation_mobile .label { opacity: 0 !important; height: 0; }

html:not([data-scroll="0"]) #navigation_mobile { font-size: 0.8em; top: 0; position: sticky; border-radius: 0; }

.c_inherit-all:hover, .c_inherit-all { color: inherit; }

.disabled .disabled-dark { color: hsl(var(--black-h), var(--black-s), 30%) !important; border-color: hsl(var(--black-h), var(--black-s), 40%) !important; }

.button-ripple .button-edge { position: relative; width: 2em; height: 2em; padding: 0.2em; }
.button-ripple .button { width: 1.6em; height: 1.6em; padding: 0.2em; }

.bg_transparent { background-color: transparent; }

:root { --gutter: 1rem; }

.grid-hs { display: grid; grid-template-columns: 10px; grid-template-rows: minmax(150px, 1fr); grid-auto-flow: column; grid-auto-columns: calc(100% - var(--gutter) * 2); overflow-x: scroll; scroll-snap-type: x proximity; }
@media screen and (min-width: 45rem) { .grid-hs { grid-auto-columns: calc(80% - var(--gutter) * 2); } }
@media screen and (min-width: 64rem) { .grid-hs { grid-auto-columns: calc(50% - var(--gutter) * 2); } }
@media screen and (min-width: 90rem) { .grid-hs { grid-auto-columns: calc(25% - var(--gutter) * 2); } }
@media screen and (min-width: 120rem) { .grid-hs { grid-auto-columns: calc(20% - var(--gutter) * 2); } }

.grid-hs:before { content: ""; width: calc(0.5 * var(--gutter)); }

.grid-hs > li, .item { scroll-snap-align: center; }

.c_alert { color: var(--bs-danger, red); }

[data-element="button-ripple"] { background-color: hsl(var(--brand-h), var(--brand-s), calc(var(--brand-l) + ((100% - var(--brand-l)) * 0))); display: flex; flex-wrap: nowrap; }
[data-element="button-ripple"][data-element-option^="block"] { padding-inline-end: 1em; flex-direction: row-reverse; min-width: 4em; height: 0.75em; width: 100%; }
[data-element="button-ripple"][data-element-option^="inline"] { min-height: 4em; width: 0.75em; height: 100%; padding-block-start: 1em; flex-direction: column; }

ul[data-element="button-ripple--wrapper"] { display: flex; list-style: none; margin: 0; padding: 0; gap: 1em; }
[data-element-option$="end"] ul[data-element="button-ripple--wrapper"] { align-items: end; }
[data-element-option$="start"] ul[data-element="button-ripple--wrapper"] { align-items: start; }
[data-element-option^="block"] ul[data-element="button-ripple--wrapper"] { flex-direction: row; }
[data-element-option^="inline"] ul[data-element="button-ripple--wrapper"] { flex-direction: column; }
[data-element-option="block-end"] ul[data-element="button-ripple--wrapper"] { margin-block-start: -1em; }
[data-element-option="inline-start"] ul[data-element="button-ripple--wrapper"] { margin-inline-end: -1em; }

[data-element="button-ripple--button-edge"] { background-color: hsl(var(--brand-h), var(--brand-s), calc(var(--brand-l) + ((100% - var(--brand-l)) * 0))); width: 2em; height: 2em; position: relative; aspect-ratio: 1/1; display: grid; justify-content: center; align-items: center; z-index: 0; }
[data-element="button-ripple--button-edge"]:after, [data-element="button-ripple--button-edge"]:before { content: ""; position: absolute; width: 1em; height: 1em; background: transparent; z-index: -1; border-radius: 50%; }
[data-element-option="block-end"] [data-element="button-ripple--button-edge"] { margin-block-start: -0.35em; border-start-start-radius: 50%; border-start-end-radius: 50%; }
[data-element-option="block-end"] [data-element="button-ripple--button-edge"]:after, [data-element-option="block-end"] [data-element="button-ripple--button-edge"]:before { inset-block-start: 0.25em; }
[data-element-option="block-end"] [data-element="button-ripple--button-edge"]:after { left: -1em; box-shadow: 0.55em 0.55em hsl(var(--brand-h), var(--brand-s), calc(var(--brand-l) + ((100% - var(--brand-l)) * 0))); }
[data-element-option="block-end"] [data-element="button-ripple--button-edge"]:before { right: -1em; box-shadow: -0.55em 0.55em hsl(var(--brand-h), var(--brand-s), calc(var(--brand-l) + ((100% - var(--brand-l)) * 0))); }
[data-element-option="block-start"] [data-element="button-ripple--button-edge"] { margin-block-end: -0.35em; border-end-end-radius: 50%; border-end-start-radius: 50%; }
[data-element-option="block-start"] [data-element="button-ripple--button-edge"]:after, [data-element-option="block-start"] [data-element="button-ripple--button-edge"]:before { inset-block-end: 0.25em; }
[data-element-option="block-start"] [data-element="button-ripple--button-edge"]:after { left: -1em; box-shadow: 0.55em -0.55em hsl(var(--brand-h), var(--brand-s), calc(var(--brand-l) + ((100% - var(--brand-l)) * 0))); }
[data-element-option="block-start"] [data-element="button-ripple--button-edge"]:before { right: -1em; box-shadow: -0.55em -0.55em hsl(var(--brand-h), var(--brand-s), calc(var(--brand-l) + ((100% - var(--brand-l)) * 0))); }
[data-element-option="inline-start"] [data-element="button-ripple--button-edge"] { margin-inline-end: -0.35em; border-start-end-radius: 50%; border-end-end-radius: 50%; }
[data-element-option="inline-start"] [data-element="button-ripple--button-edge"]:after, [data-element-option="inline-start"] [data-element="button-ripple--button-edge"]:before { inset-inline-end: 0.25em; }
[data-element-option="inline-start"] [data-element="button-ripple--button-edge"]:before { inset-block-start: -1em; box-shadow: -0.55em 0.55em hsl(var(--brand-h), var(--brand-s), calc(var(--brand-l) + ((100% - var(--brand-l)) * 0))); }
[data-element-option="inline-start"] [data-element="button-ripple--button-edge"]:after { inset-block-end: -1em; box-shadow: -0.55em -0.55em hsl(var(--brand-h), var(--brand-s), calc(var( --brand-l ) + ((100% - var(--brand-l)) * 0))); }
[data-element-option="inline-end"] [data-element="button-ripple--button-edge"] { margin-inline-start: -0.35em; border-start-start-radius: 50%; border-end-start-radius: 50%; }
[data-element-option="inline-end"] [data-element="button-ripple--button-edge"]:after, [data-element-option="inline-end"] [data-element="button-ripple--button-edge"]:before { inset-inline-start: 0.25em; }
[data-element-option="inline-end"] [data-element="button-ripple--button-edge"]:before { inset-block-start: -1em; box-shadow: 0.55em 0.55em hsl(var(--brand-h), var(--brand-s), calc(var(--brand-l) + ((100% - var(--brand-l)) * 0))); }
[data-element-option="inline-end"] [data-element="button-ripple--button-edge"]:after { inset-block-end: -1em; box-shadow: 0.55em -0.55em hsl(var(--brand-h), var(--brand-s), calc(var( --brand-l ) + ((100% - var(--brand-l)) * 0))); }

[data-element="button-ripple--button"] { border-radius: 50%; aspect-ratio: 1/1; width: 1.6em; height: 1.6em; padding: 0.2em; display: grid; justify-content: center; align-items: center; z-index: 2; }
