{% include_relative netflix/sub/chapter-footer.html %}
<div class="flex_auto p-t_5 p_4 relative z_1">
	<ul class="absolute t_0 l_3 font-size_down-2 ul_none flex flex_row nowrap gap-x_1" data-element="flags">
		<li class="p-x_3 p-y_2 bg_brand-n3 br-br_radius br-bl_radius c_white">Completed 100%</li>
	</ul>
	<span class="absolute font_n1 r_3 t_3">{% include_relative /netflix/sub/save-star.html %}</span>
	<h3 class="c_black-8 font-size_0 font_bold font_display lh_2 m-y_0 m_0">(Presentation Title) Rhythm and Conduction Disorders </h3>
	<h4 class="c_black-6 font-size_down-2 font_display font_medium m-y_0">(Sub Presentation Title) Rhythm and Conduction Disorders</h4>
</div>