{% assign layout = include.layout | default: 'ripple-block-end' %}
{% assign flag = include.flag | default: '' %}
{% assign primary_actions = include.primary_actions | default: "navigate" %}
{% assign secondary_actions = include.secondary_actions | default: "bookmark" %}
{% if flag == 'current' %}
	{% assign active_class = 'active' %}
{% else %}
	{% assign active_class = '' %}
{% endif %}
{% assign hover-disabled_classes = "h:bg_accent-5" %}
{% for action in primary_actions | split ',' %}
    {% if action == "lock" %}
        {% assign hover-disabled_classes = "disabled cursor_not-allowed not-allowed user-select-none" %}
        {% break %}
    {% endif %}
{% endfor %}


<article   
grid-template="ripple-card-verticals"
layout="{{layout}}"
 class="overflow_hidden flex font_0:md font_n3 font_n2:xs font_n1:sm  flex_column user-select_none relative br_radius bg_white-9 shadow_bevel-light flex flex_column br_solid br_black-3 br_1 self_stretch {{ active_class }}  {{ hover-disabled_classes }}">



 <header class="aspect-ratio_16x9 bg_cover br-tl_radius br-tr_radius relative w_100" style="background-image:url(https://picsum.photos/640/480/)">
		<div class="absolute t_0 l_3" data-element="flags">
      {% include_relative /netflix/sub/status-flags.html status=flag layout=layout %}
    </div>
		<div class="absolute t_0 r_3 z_2">
      {% include_relative /netflix/sub/secondary-actions.html secondary_actions=secondary_actions %}
		</div>
		{% include_relative netflix/sub/progress.html %}
	</header>
	<main  class="randomData p_3 p_4:xs p_5:sm m-y_3:lg reading-typography"  grid-area="content-primary">
      <h3 class="c_primary-n1 m_0">
          <span class="c_secondary-n1 block randomCategoryLabel uppercase font-size_down-4"> (Collection Title)
              Yearly Conference </span> 
          <span class="block randomLabel capitalize"></span>
          <span class="c_black-7 m_0 randomSubLabel capitalize block font-size_down-2">(Session Sub Title) Rhythm and Conduction Disorders</span>
      </h3>
    <p class="randomDescription m-y_3 lh_2">Random Description</p>
      <ul class="ul_inline-semicolon font-size_down-2" data-element="value">
        <li data-element="label" class="no-after font_bold w_100 w_auto:md c_secondary-n2">
          <i class="fal display_none [fa-icon-class|display_none]"></i>
          <span>Faculty:</span>
        </li>
        <li class="randomArrayList">Bernice Lakin</li>
      </ul>
	</main>
	<div class="font_ui p-x_4 p-x_5:xl m-t_auto">
		{% include_relative netflix/sub/session-card-meta.html %}
	</div>
  {% include_relative /netflix/sub/ripple-button.html primary_actions=primary_actions %}



</article>
