
[data-element="button-ripple"] {
	background-color:hsl(var(--brand-h), var(--brand-s), calc( var(--brand-l) + ((100% - var(--brand-l)) * 0) ));
	&[data-element-option="block-end"] {
		height: .75em;
		padding-inline-end: 1.5em;
	}
	&[data-element-option="inline-start"] {
		width: .75em;
		padding-block-start: 1.5em;

	}
  }

  [data-element="button-ripple--button-edge"] {
	width: 2em;
	height: 2em;
	padding: 0.2em;
	position: relative;
	margin-top: -0.35em;
	&:after,&:before{
	  content: "";
	  position: absolute;
	  top: .35em;
	  width: 1em;
	  height: 1em;
	  z-index: -1;
	}
	&:after {
	  left: -1em;
	  background: #fff;
	  border-radius: 50%;
	  box-shadow: 0.55em 0.55em  hsl(var(--brand-h), var(--brand-s), calc( var(--brand-l) + ((100% - var(--brand-l)) * 0) ));
	}
	&:before {
	  right: -1em;
	  background: #fff;
	  border-radius: 50%;
	  box-shadow: -0.55em 0.55em  hsl(var(--brand-h), var(--brand-s), calc( var(--brand-l) + ((100% - var(--brand-l)) * 0) ));
	}
  }
  
  
  [data-element="footer-button-bar--button"] {
	width: 1.6em;
	height: 1.6em;
	padding: 0.2em;
  }