<section class="flex_none  p-x_4:xl ">
	<dl class="c_primary flex flex_row font_ui font_n1 gap_3 items_center p_4 ul_none">
		<dd class="font_xbold m_0 uppercase">Results:</dd>
		<dt class="font_regular inline-block self_center m-r_4">25</dt>
		<dd class="font_xbold m_0 uppercase">Keywords:</dd>
		<dt class="font_regular inline-block self_center m-r_4">
			<ul class="ul_none ul_inline-pipe gap_1">
				<li class="flex flex_row gap_2 nowrap relative h:underline">
					<span class="">Label</span>
					<a href="#" class="c_highlight expanded-click-area h:c_black "><i class="fas fa-solid fa-times"></i></a>
				</li>
				<li class="flex flex_row gap_2 nowrap relative h:underline">
					<span class="">Label</span>
					<a href="#" class="c_highlight expanded-click-area h:c_black "><i class="fas fa-solid fa-times"></i></a>
				</li>
			</ul>
		</dt>
		<dd class="font_xbold m_0 uppercase">Categories:</dd>
		<dt class="font_regular inline-block self_center m-r_4">
			<ul class="ul_none ul_inline-pipe gap_1">
				<li class="flex flex_row gap_2 nowrap relative h:underline">
					<span class="">Category A</span>
					<a href="#" class="c_highlight expanded-click-area h:c_black "><i class="fas fa-solid fa-times"></i></a>
				</li>
			</ul>
		</dt>
		<dd class="font_xbold m_0 uppercase">Tags:</dd>
		<dt class="font_regular inline-block self_center m-r_4">
			<ul class="ul_none ul_inline-pipe gap_1">
				<li class="flex flex_row gap_2 nowrap relative h:underline">
					<span class="">Tag</span>
					<a href="#" class="c_highlight expanded-click-area h:c_black "><i class="fas fa-solid fa-times"></i></a>
				</li>
				<li class="flex flex_row gap_2 nowrap relative h:underline">
					<span class="">Tag</span>
					<a href="#" class="c_highlight expanded-click-area h:c_black "><i class="fas fa-solid fa-times"></i></a>
				</li>
				<li class="flex flex_row gap_2 nowrap relative h:underline">
					<span class="">Tag</span>
					<a href="#" class="c_highlight expanded-click-area h:c_black "><i class="fas fa-solid fa-times"></i></a>
				</li>
			</ul>
		</dt>
	</dl>
</section>