<li data-element="meta-data-item cq_parent">
	<ul
		class="ul_inline-comma items_baseline"
		
	>
		<li
			data-element="label"
			class="c_black font-size_0:md font-size_up-1 font_medium no-after w_100 w_auto:md"
		>
			<i
				class="fal display_none [fa-icon-class|display_none]"
			></i>
			<span>Meta Data Label:</span>
		</li>
		<li data-element="value" class="c_black-8 font-size_0">Meta 1</li>
		<li data-element="value" class="c_black-8 font-size_0">Meta 2</li>
		<li data-element="value" class="c_black-8 font-size_0">Meta 3</li>
		<li data-element="value" class="c_black-8 font-size_0">Meta 4</li>
		<li data-element="value" class="c_black-8 font-size_0">Meta 5</li>
	</ul>
</li>