---
layout: Prototype-TableofContents-v2
name: Container Test
uri: documentation/containers
---
<div class="">
    <div class="grid columns_6 gap_5">
        <div class="col-end-span_1 CQ_ROOT CONTAINER">
            <nav class="br_1 br_solid br_black-3 font_n1 font_1:sm font_3:md">
                <ul class="ul_none display_content">
                    {% include_relative netflix/basic/ripple-card.html primary_actions="navigate,share"
                    secondary_actions="bookmark,lock" flag="" %}
                    {% include_relative netflix/basic/ripple-card.html primary_actions="navigate" flag="current" %}
                </ul>
            </nav>
        </div>
        <div class="col-end-span_2 CQ_ROOT">
            <nav class="br_1 br_solid br_black-3 font_n1 font_1:sm font_3:md">
                <ul class="ul_none display_content">
                    {% include_relative netflix/basic/ripple-card.html primary_actions="navigate,share"
                    secondary_actions="bookmark,lock" flag="" %}
                    {% include_relative netflix/basic/ripple-card.html primary_actions="navigate" flag="current" %}
                </ul>
            </nav>
        </div>
        <div class="col-end-span_3 CQ_ROOT">
            <nav class="br_1 br_solid br_black-3 font_n1 font_1:sm font_3:md">
                <ul class="ul_none display_content">
                    {% include_relative netflix/basic/ripple-card.html primary_actions="navigate,share"
                    secondary_actions="bookmark,lock" flag="" %}
                    {% include_relative netflix/basic/ripple-card.html primary_actions="navigate" flag="current" %}
                </ul>
            </nav>
        </div>
    </div>
</div>
<style>
