--- 
layout: V2-library_blank
name: 1.1 | GRID DEBUG
uri: root/
---
	
<div class="page-wrapper grid:md isolation_isolate bg_white-7 z_1 br_radius debug" data-label="Page Wrapper">
    {% include_relative netflix/nav/top-nav-mobile.html %}
	<div id="AppFrame" grid-template="app-frame" class="expanded">
		<!-- Grid Areas With In Content  -->
        {% include_relative netflix/breadcrumb.html %}
<div grid-area="app-page" grid-template="page" class="br-br_radius CQ_ROOT">
  <header grid-area="page-header"
    class="relative bg_white-8 relative p_5:xl p_4:lg p_3 font_n1 font_0:md font_1:lg font_1:xxl br-b_1 br_black-3 br_solid">
    {% include_relative netflix/sub/session-label.html %}
    <div class="absolute t_3 r_2 z_2 font_n2 p-x_3:md p-x_2" data-element="save-toggle">
      {% include_relative netflix/sub/secondary-actions.html %}
    </div>
  </header>
  <section grid-area="primary-content" class="grid:lg columns_5 columns_6:xl rows_1">
		<!-- TODO scroll buckets need styles and the inner outter wrapper. -->
		<main class="bg_white-6 col-start_start col-end_n2 row_all:md relative row-start_start">
			  {%  include_relative netflix/player/video.html %}
		</main>
    {% include_relative netflix/basic/aside-bucket.html aside_classes="col-start_n2 col-end_end row_all:md font_n2 font_n1:sm font_0:md" content_type="tabs" %}
  </section>
  {% include_relative netflix/player/information.html %}
  <footer grid-area="page-footer" class="bg_white-6 p_4"> footer</footer>
</div>

        <!-- APP CONTENT END -->
		<div grid-area="app-menu">
			{% include_relative netflix/nav/left-nav-desktop.html %}
		</div>

	</div>
    {% include netflix/filter-off-canvas.html %}
    <script
    src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="{{ 'assets/js/drag.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/Nav.js' | relative_url }}"></script>

    <style>
    [grid-template='bucket']{
		display:grid;
		grid-template-columns:
		[bucket-start]auto[bucket-end];
		grid-template-rows:[bucket-start]auto[bucket-end];
    overflow: hidden;
		
	}	
	[grid-template='bucket']>[grid-area='bucket-inset'] {
		grid-area: bucket;
		position: relative;
	}
  [grid-template='bucket']>[grid-area='bucket-inset']>[grid-area='bucket-content']{
		position: absolute;
    inset:0;
		overflow: auto;
	}
    </style>