--- 
layout: V2-library_app_frame 
name: "V2 1.0 | Frame" 
uri: "root/index (authenticated & access)" 
homeActive: true 
---

<div grid-area="app-page">
  {% include_relative netflix/app-header-w-search.html %} 
  <header class="font-size_up-1">
    
    <div data-zone="introduction" class="bg_white-8 br-b_1 br_black-3 br_solid p_4 p-x_5:xl p-x_6:xxl p-y_4:lg  p-y_5:xxl">
      {% include_relative netflix/home/home-branding.html %} 
      <h3 class="font_display font_xbold c_primary-n2">Welcome</h3>
      <p class="max-w_70">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quam temporibus quae repellat dolorem aperiam explicabo, tempora pariatur iste earum quaerat sequi ea optio magni, mollitia animi, dignissimos deserunt quia?</p>
    </div>
    <div data-zone="featured" class="bg_white-8 p_4 p-x_5:xl p-x_6:xxl p-y_4:lg  p-y_5:xxl">
      <h3 class="font_display font_xbold c_primary-n2">Featured</h3>
      <p class="max-w_70">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt reiciendis cumque ut eum alias recusandae illum officiis debitis dolores corrupti deleniti velit maiores, dignissimos adipisci rerum odio? Rerum, reprehenderit doloremque?</p>
    </div>
  
  </header>
  
  <section class="grid-area_mainArea overflow_visible br-br_radius">
  
  
  </section> 

</div>

