--- 
layout: default
---

{% include netflix/html-head-tag.html %}
<body class="BODY_TAG-stand-in bg_black-4 w_100 grid:md min-h_100">
<div class="page-wrapper grid:md isolation_isolate br_radius bg_white-7 z_1">
	<div class="grid:md grid-template_page flex flex_column [expanded] expanded">
	{% include netflix/left-nav-desktop.html %}

		{{ content }}
		<!-- These Styles are just for the styleguide and are not to be included with the pattern. -->
		
	</div>
</div>
</div>
{% include netflix/filter-off-canvas.html %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

</body>