<div class="br-t_1 br_solid br_black-3 flex flex_row relative h:bg_accent-5 flex_100">
	<div class="bg_black-_05 br-r_1 br_black-2 br_solid flex_none font_n1 p_4 {{include.spacing}}">{% include_relative /netflix/sub/save-star.html %}</div>
	<div class="p_4 flex_auto m-r_4 {{include.spacing}}">
		<h3 class="c_black-8 font-size_down-1 font_bold font_display lh_2 m-y_0 m_0">(Presentation Title) Rhythm and Conduction Disorders </h3>
		<h4 class="c_black-6 font-size_down-2 font_display font_medium m-y_0">(Sub Presentation Title) Rhythm and Conduction Disorders</h4>
		<!-- Start of Keyword Found Conditional Block: This block turns on if the keywords were found within the video transcript, title, or subtitle of this presentation -->
		<span class="bg_accent-2 br_radius c_black font-size_down-2 p-x_3 p-y_2 r_0 t_0 inline-block">
			<i class="fas fa-solid fa-search m-r_3"></i>
			<strong class="font_medium font_ui">Keyword Found in Video @: </strong>
			<ul class="ul_none ul_inline-pipe gap_1">
				<li class=""><a href="" class="c_black h:c_black underline h:undecorated">0:59</a></li>
				<li class=""><a href="" class="c_black h:c_black underline h:undecorated">1:10</a></li>
			</ul>
		</span>
			<!-- End of Keyword Found Conditional Block -->
	</div>
	{% include_relative netflix/sub/result-presentation-footer-playing.html %}
</div>