<article class="splide__slide flex flex_column user-select_none relative br_radius bg_white-9 font_1 shadow_bevel-light flex flex_column br_solid br_black-3 br_1 self_stretch">
	<aside class="aspect-ratio_16x9 bg_cover bg_cover br-tl_radius br-tr_radius relative  shadow_2  w_100" style="background-image:url(https://placeimg.com/640/480/arch)">
		<div class="absolute t_0 l_3 p-x_3 p-y_2 bg_brand-n3 br-br_radius br-bl_radius c_white font-size_down-2" data-element="flags">Watched</div>
		<div class="absolute t_3 r_0 z_2" data-element="save-toggle">
		{% include_relative netflix/sub/save-star.html %}
		</div>
		{% include_relative netflix/sub/progress.html %}
	</aside>
	<main class="lh_1 flex flex_column gap-y_2 p_4 p_5:xl font_display">
		{% include_relative netflix/sub/session-label-long.html %}
		
	</main>
	<div class="m-t_auto font_ui p_4 p_5:xl m-b_n5">
		{% include_relative netflix/sub/meta-short.html %}
	</div>
	{% include_relative netflix/sub/session-footer.html %}
</article>
