<section
	class="flex flex_column gap-y_3:lg gap-y_2 max-w_15 self_center m-x_auto"
>
	<div
		class=" flex_auto m-x_0:md m-x_auto w_100 shadow_overlap-light overflow_hidden self_center p_3 bg_white-8"
	>
    <img
        class="aspect_1x1 w_100 br_radius"
        src="https://i.pravatar.cc/300"
        alt="Pepper H. Soda III, MD, FACC"
    />	</div>
	<div class="flex_auto flex_column justify_start">
		<h2 class="m-b_0 speaker_name font_display font_bold font-size_0 lh_1 c_primary-n1 m-b_3"> Pepper H. Soda III, MD</h2>
		<ul class="speaker_metadata ul_none font_copy font_medium font-size_down-2 flex gap-y_2 m-b_3 c_black-8 ">
            <!-- This is a repeated snippet -->
            <li class="lh_1">Powlowski - West, encoding</li>
			<li class="lh_1">Champlin - Pagac, adapter</li>
        </ul>
        <span class="block c_black-6 font_copy font-size_down-2 lh_0 font_italic">New York, NY, USA</span>
	</div>
</section>