<section
	class="flex flex_column gap-y_3:lg gap-y_2 max-w_15 self_center m-x_auto"
>
	<div
		class=" flex_auto m-x_0:md m-x_auto w_100 shadow_overlap-light overflow_hidden self_center p_3 bg_white-8"
	>
    <img
        class="aspect_1x1 w_100 br_radius"
        src="https://i.pravatar.cc/300"
        alt="Pepper H. Soda III, MD, FACC"
    />	</div>
	<div class="flex_auto flex_column justify_start">
		<h2 class="m-b_0 speaker_name font_display font_bold font-size_0 lh_1 c_primary-n1 m-b_2"> Pepper H. Soda III, MD</h2>
		<ul class="speaker_metadata ul_none font_ui font-size_down-2 flex gap-y_2 lh_2 c_black-8 ">
            <li class="c_primary-n1 font_bold">Role Type</li>
            <!-- This is a repeated snippet of titles -->
            <li class="">Powlowski - West, encoding</li>
			<li class="">Champlin - Pagac, adapter a aoijdss</li>
        </ul>
	</div>
</section>